@import "../../global.scss";

.portfolio {
  background-color: #f0f2f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  @include mobile{
    margin-top: 50px;
  }

  .portfolioText{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px;
    h1 {
      font-size: 50px;
    overflow: hidden;
    
    @include tab {
      overflow: visible;
      font-size: 40px;
    }
    
    @include mobile {
      font-size: 30px;
    }
  }

  span{
    font-size: 18px;
    padding-top: 5px;

    @include tab{
      font-size: 14px;
    }
  }
}
  
  ul {
    margin: 50px 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: visible;
    
    
    @include tab {
      overflow: visible;
      margin: 30px 0;
      
    }
    
    @include mobile {
      margin: 30px 0;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  
  .container {
    overflow: hidden;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;

    @include tab {
      width: 80%;
    }


    .item {
      width: 270px;
      height: 200px;
      border-radius: 20px;
      border: 1px solid rgb(240, 239, 239);
      margin: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      position: relative;
      transition: all 0.5s ease;
      // cursor: pointer;

      @include tab {
        width: 200px;
        height: 150px;
      }
  
      @include mobile {
      }

      @include mobile {
        width: 180px;
        height: 140px;
      }

      h3 {
        position: absolute;
        font-size: 20px;
        text-align: center;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
      }

      &:hover {
        background-color: $mainColor;
        img {
          opacity: 0.2;
          z-index: 0;
        }
      }
    }
  }
}
